# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/

# VS Code
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# APKs
*.apk

# ZIP files
*.zip